$border-gray: #BEBEBE;
$dark-mode-border-gray: #454545;
$number-color: rgba(0, 0, 0, 0.16);
$white: #FFFF;
$black: #000000;
$name-color: rgba(0, 0, 0, 0.5);
$dark-mode-black: #121212;
$dark-mode-gray: #707070;

button {
  all: unset;
  cursor: pointer;
}

.comment {
  display: grid;
  grid-template-columns: 41px 1fr 31px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  border: 1px solid $border-gray;
  border-radius: 10px;
  width: 100%;
  max-width: 462px;
  padding: 12px;

  &__left {
    color: $number-color;
    font-size: 20px;
  }

  &__center {
    margin-top: 24px;
    padding-right: 10px;

    &Main {
      padding-bottom: 12px;
      border-bottom: 1px solid $border-gray;
    }

    &Text {
      line-height: 16px;
    }

    &Bottom {
      display: flex;
      align-items: center;
      gap: 18px;
      margin-top: 12px;

      &User {
        display: flex;
        gap: 10px;
        color: $name-color;
        align-items: center;

        &Image {
          width: 32px;
          height: 32px;
          border-radius: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      &Date {
        display: flex;
        gap: 10px;
      }
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    align-items: center;

    &Icons {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 14px;
      height: 100%;
    }
  }
}

.commentDark {
  background: $dark-mode-black;
  color: $white;
  border: 1px solid $dark-mode-border-gray;

  .comment__left {
    color: $dark-mode-border-gray;
  }

  .comment__centerBottomUser {
    color: $dark-mode-gray;
  }
}
