$border-gray: #BEBEBE;
$number-color: rgba(0, 0, 0, 0.16);
$white: #FFFF;
$black: #000000;
$name-color: rgba(0, 0, 0, 0.5);
$orange-color: #eb5f21;
$blue-color: #27B5C8;

.orangeCircle {
  color: $orange-color;
}

.blueCircle {
  color: $blue-color;
}

.orangeCircleLight {
  color: $orange-color;
  opacity: 0.5;
}

.blueCircleLight {
  color: $blue-color;
  opacity: 0.5;
}

.comment {
  display: grid;
  grid-template-columns: 41px 1fr 31px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 14px;
  border: 1px solid $border-gray;
  border-radius: 10px;
  width: 100%;
  max-width: 462px;
  padding: 12px;
  color: $black;

  &__left {
    color: $number-color;
    font-size: 20px;
  }

  &__center {
    margin-top: 24px;
  }

  &__centerMain {
    padding-bottom: 12px;
    border-bottom: 1px solid $border-gray;
  }

  &__centerText {
    line-height: 16px;
  }

  &__centerStatusSelect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 8px;
  }

  &__centerStatusSelectText {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  &__centerBottom {
    display: flex;
    align-items: center;
    gap: 18px;
    margin-top: 12px;
  }

  &__centerBottomUser {
    display: flex;
    gap: 10px;
    color: $name-color;
    align-items: center;
  }

  &__centerBottomUserImage {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__centerBottomDate {
    display: flex;
    gap: 7px;
  }

  &__centerStatusSelectField {
    display: grid;
    grid-template-columns: 1fr  1fr;
    width: 100%;
    margin-top: 11px;
  }

  &__pastValue {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__newValue {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__pastValueSubtitle {

  }

  &__newValueSubtitle {
  }

  &__right {
    display: flex;
    flex-direction: column;
    margin-inline: auto;
  }

  &__rightIcons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    height: 100%;
  }
}
