$blue-border: #B2DCFF;
$blue: #26BAF1;
$white: #FFFFFF;
$card-border-radius: 14px;
$black: #000000;
$gray: #707070;
$font-md: 14px;
$fw-regular: 500;
$main-font-family: Roboto, Arial, sans-serif;

.taskCard {
  display: grid;
  grid-template-columns: 65px 1fr;
  font-size: $font-md;
  font-weight: $fw-regular;
  font-family: $main-font-family;
  width: 280px;
  border: 1px solid $blue-border;
  padding: 10px;
  background: $white;
  border-radius: $card-border-radius;


  &__left {
    display: flex;
    flex-direction: column;
  }

  &__index {
    color: $gray;
    font-size: 25px;
  }

  &__userPhoto {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: -37.5px;
  }

  &__main {
    // стили для главной части
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__status {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    min-width: 86px;
    padding-inline: 13px;
    height: 26px;
    background: red;
    color: $white;
  }

  &__headerButtons {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__moreOptions {
    // стили для кнопки "еще"
  }

  &__selectCheckbox {
    // стили для чекбокса выбора
  }

  &__name {
    margin-top: 12px;
    color: $blue;
  }

  &__date {
    display: flex;
    gap: 14px;
    margin-top: 11px;
  }

  &__description {
    margin-top: 11px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 11px;
  }

  &__footerNumber {
    // стили для номера в подвале
  }

  &__footerCity {
    // стили для города в подвале
  }

  &__footerNotification {
    // стили для уведомления в подвале
  }
}
