$blue-border: #B2DCFF;
$dark-blue-border: #005C98;
$blue: #26BAF1;
$white: #FFFFFF;
$card-border-radius: 14px;
$black: #000000;
$bg-black: #1F1F1F;
$gray: #707070;
$font-md: 14px;
$fw-regular: 500;
$main-font-family: Roboto, Arial, sans-serif;
$green: #38D1C0;
$pink: #D05EEB;
$red: #FF0558;
$orange: #FF8900;

button {
  all: unset;
  cursor: pointer;
}

.taskCard {
  display: grid;
  grid-template-columns: 65px 1fr;
  font-size: $font-md;
  font-weight: $fw-regular;
  font-family: $main-font-family;
  width: 280px;
  border: 1px solid $blue-border;
  padding: 10px;
  background-color: $white;
  border-radius: $card-border-radius;

  &__left {
    display: flex;
    flex-direction: column;
  }

  &__index {
    color: $gray;
    font-size: 25px;
  }

  &__userPhoto {
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: -37.5px;
  }

  &__main {

  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__status {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 17px;
    min-width: 86px;
    padding-inline: 13px;
    height: 26px;
    background: $gray;
    color: $white;

    &.green {
      background: $green;
    }

    &.red {
      background: $red;
    }

    &.pink {
      background: $pink;
    }

    &.orange {
      background: $orange;
    }
  }


  &__headerButtons {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__moreOptions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 29px;
    height: 22px;

    span {
      width: 6px;
      height: 6px;
      background: $gray;
      border-radius: 100%;
    }
  }

  &__selectCheckbox {

  }

  &__name {
    margin-top: 12px;
    color: $blue;
  }

  &__date {
    display: flex;
    gap: 14px;
    margin-top: 11px;
  }

  &__description {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-top: 11px;
    color: $gray;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }

  &__footerNumber {

  }

  &__footerCity {

  }

  &__notificationInvisible {
    visibility: hidden;
  }

  &__footerNotification {
    position: relative;
  }

  &__footerNotificationNumber {
    position: absolute;
    top: -65%;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: $blue;
    color: $white;
    width: 28px;
    height: 20px;
    border-radius: 10px;
  }

  &__footerNotificationImg {
    padding-right: 13px;
  }
}

.taskCardDark {
  background-color: $bg-black;
  border: 1px solid $dark-blue-border;
  color: $white;
}